.stepScaleTitle {
  color: #357edd;
  text-align: center;
  font-size: 80px;
}

.weightDisplay {
  color: #357edd;
  text-align: center;
  font-size: 150px;
}

.containerWeight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
