.container {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center;
  text-align: center; */
  /* max-height: 100vh; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

/* light orange #f68b27 */
/* #2cb205 light green*/
.inner {
  /* height: 800px; */
  font-weight: bold;
  font-size: "10px";
  background-color: #6e10e5;
  opacity: 0.4;
  position: absolute;
  color: "white";
  /* height: "99vh"; */
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  /* maxHeight: "100"; */
  overflow: "auto";
}

.header-style-cool {
  color: white;
  position: relative;
  top: 100px;
}

.h1 {
  color: "white";
}
