.row {
  z-index: 2;
  clear: both;
  width: 100%;
  /* border: 5px solid black; */
}
.column {
  /* width: 25px; */
  /* height: 25px; */
  /* border: 5px solid black; */
  margin: 30px;
  display: inline-block;
}

.loginButton {
  position: absolute;
  z-index: 2;
  bottom: 15%;
  left: 43%;
  margin-left: -100px;
}

.signUpButton {
  position: absolute;
  z-index: 2;
  bottom: 15%;
  right: 43%;
  margin-right: -100px;
}

.logoutButton {
  position: absolute;
  z-index: 2;
  bottom: 15%;
  right: 50%;
  margin-right: -100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
