.row {
  z-index: 2;
  clear: both;
  width: 100%;
  /* border: 5px solid black; */
}
.column {
  /* width: 25px; */
  /* height: 25px; */
  /* border: 5px solid black; */
  margin: 30px;
  display: inline-block;
}

.loginlogoutsignup {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.padder {
  padding: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.title {
  position: relative;
  z-index: 2;
  padding-bottom: 100px;
  /* left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 40px; */
}
