/* .App {
  text-align: center;
  margin: 0 auto;
} */

/* .content-overlay {
} */

/* .headerOverlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 0.65;
} */

/* .fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
} */

/* .wrapperContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
} */
/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
} */

.large {
  width: 100px;
}

.AppParent {
  /* border: 20 px solid black; */
  /* height: 800px; */
  position: "absolute";
  width: "100%";
  height: "100%";
}

.Relative {
  position: "relative";
}
