.authContainer {
  /* position: absolute; */
  width: 500px;
  height: 600px;
  background: pink;
  border-radius: 20px;
  top: 40px;
  z-index: 2;
}

.headerAuthOverlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #225470;
  z-index: 1;
  opacity: 1;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 2;
}

.keyBoardContainer {
  position: relative;
  top: 20px;
  width: 75%;
  clear: both;
  z-index: 2;
}
